body {
    margin: 0;
}

#app {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    border: 2px solid blue;
}
 #app > div {
    border: 1px solid red;
 }

 span {
    border: 1px solid red;
 }